.list-group-item {
  padding: 0;
  line-height: 3em;

  label {
    width: 100%;
    padding: 0 2em;
    margin: 0;
  }

  .destroy {
    display: none;
    margin: 0.5em 2em;
  }
  &:hover .destroy {
    display: inherit;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label:before {
    font-family: FontAwesome;
    content: '\f096';
    width: 1em;
    display: inline-block;
    margin-right: 1em;
  }

  input[type=checkbox]:checked + label:before {
    content: "\f046";
  }
}

