<nav class="navbar navbar-light navbar-expand-sm bg-light">
  <a class="navbar-brand" href="#">{{ brandName }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="todos" routerLinkActive="active" href="#">Todos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Links</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notes</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2">
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet>
    <div class="jumbotron">
      <h1>{{ title }}</h1>
      <hr>
      <p class="lead">
        Ein Notizbuch für all die kleinen Dinge, die man als Entwicker doch ständig wieder vergisst.
      </p>
      <p class="lead d-flex justify-content-center">
        <button class="btn btn-dark btn-lg mt-4">Los geht's</button>
      </p>
    </div>
  </router-outlet>
</div>
